<!--
  Generated template for the SNTE54 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SNTE54</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo-container">
    <img src="assets/images/logotipo.png" alt="logotipo">
  </div>

  
  <div class="slider"></div>

</ion-content>
