<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SNTE 54</ion-title>

    <ion-buttons end>
      <radio-player></radio-player>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  
    <!-- component use /news endpoint -->
    <asambleas-list></asambleas-list>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
