<!--
  Generated template for the Institutions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Institutiones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <asambleas-list></asambleas-list>
</ion-content>
