page-page1 {
    .youtube-container {
        height: 200px;
        background: red;
        margin-top:18px;
    }
    .magazines-container {
        height: 200px;
        background: indigo;
        margin-top: 18px;
    }
}
