<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SNTE 54</ion-title>

    <ion-buttons end>
      <radio-player></radio-player>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="logo-container">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img src="assets/images/logotipo.png" alt="logotipo">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="slider">
    <!-- component use /news endpoint -->
    <carousel-news></carousel-news>
  </div>

  <div class="youtube-container"></div>

  <div class="magazines-container"></div>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
