<!--
  Generated template for the YoutubePlaylists page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Sección 54 SNTE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-list>
      <ion-item *ngFor="let item of videos" (click)="openVideo($event, item.videoId)">
        <ion-thumbnail item-left>
          <img src="{{item.thumb.url}}">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
  </ion-list>
</ion-content>
